*{
    margin: 0;
}


.NAV{
    display: flex;
    background-color: #324747;
    justify-content: center;
    font-size: 17px;
    
    
}

ul{
    display: flex;
    justify-content: flex-end;
}

nav ul li {
    display: flex;
    width: 200px;
    padding:13px;
    text-decoration: none;
    background-color:#324747;
    ;
    
}
a{
    text-decoration: none;
    color:rgb(255, 255, 255)
}

.carrito{
    width: 30px;
    height: 30px;
    margin-top:  7px;
    background-color:  #324747;
}

.contenedor{
    display: flex;
    justify-content: space-evenly;
    height: auto;
    flex-wrap: wrap;
    background-color: #324747;

} 
.card{
    justify-content: space-around;
    align-items: center;
    width: 200px;
    
    padding-right:20px;
    border: 0.5px solid rgb(136, 136, 136);
}


